*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* text-align: center; */
}

@media screen and (max-width: 600px) {
  *{
    box-sizing: border-box;
    margin: 0%;
    /* text-align: center; */
    overflow-x: hidden;
  }

}

/* ..................................................................... */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App-link {
  color: #61dafb;
} */
